<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <button ngbNavLink>Profile</button>
        <ng-template ngbNavContent>
        </ng-template>
      </li>
      <li ngbNavItem>
        <button ngbNavLink>Dashboard</button>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
      <li ngbNavItem>
        <button ngbNavLink>Goals</button>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
      <li ngbNavItem>
        <button ngbNavLink>Networking</button>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
      <li ngbNavItem>
        <button ngbNavLink>Competencies</button>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
      <li ngbNavItem>
        <button ngbNavLink>CDL</button>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>

  <div class="container" style="margin-top: 50px; margin-right: 40px;">
    <div class="mr-6">
        <div class="container">
            <svg class="small-svg" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
            </svg>
            <div class="col">
            <h1>Name</h1>
            <p>Title</p>
            </div>
        </div>
    </div>


<label for="box3" style="position: absolute; top: 130px; margin-right: 490px; margin-left: 600px;">My Links</label>
<div class="my-box3">
    <div class="col">
        <a href="">LinkedIn</a>
        <a href="">Resume</a>
        <a href="">Supporting Documents</a>
        <a href="">Professional Records and Documents</a>
        <a href="">Link 1</a>
        <a href="">Link 2</a>
        <a href="">Link 3</a>
    </div>

</div>
    <label for="box1" style="position: absolute; top: 410px; margin-right: 490px; margin-left: 10px;">Personal Information</label>
<div class="my-box" id="box1">
        <p>Introduction</p>

</div>
    <label for="box2" style="position: absolute; top: 410px; margin-right: 200px; margin-left: 600px;">Upcoming Actions for Personal Development</label>
<div class="my-box2" id="box2">
    <p>Climb a tree.</p>

</div>
</div>






  </body>
  <router-outlet />
</html>
